$white: #FFFFFF;
$black: #000000;
$white-transparent: rgba(255, 255, 255, 0.09);
$gray: #BBBBBB;
$pink: #C92F58;
$red: #C51414;
$teal: #339B95;
$dark-teal: #2C5E5B;
$dark-pink: #311429;
$yellow: #EFE5C3;